<!DOCTYPE HTML>
<html>
<head>
<title>RestFulBlogApp</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <!-- in bootstap like inverse -->
    <div class ="ui fixed inverted menu"> 
            <!-- in bootstrap like container -->
         <div class="ui container">
             <!-- in bootstarp like brand -->
             <div class="header item"><i class="code icon"></i>Blog Site</div>
             <a href="/" class="item">Home</a>
        
             <a href="/blogs/new" class="item">New Post</a>
            
    
         </div> 
    
    </div>