<% include ./partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">Edit<%= editBlogfound.title %></div>
        <form class="ui form" action="/blogs/<%= editBlogfound._id %>?_method=put" method="post" >

            <div classs="field">
                <label>Title</label>
                <input type="text" value=<%= editBlogfound.title %> name="blog[title]">
            </div>

            <div classs="field">
                <label>Image</label>
                <input type="text" value=<%= editBlogfound.image %>  name="blog[image]">
            </div>

            <div classs="field">
                <label>BodyContent</label>
                <textarea value=<%= editBlogfound.body %>  name="blog[body]"> <%= editBlogfound.body %> </textarea>
            </div>
            <!-- <div class="ui center aligned segment"> -->
            <div classs="field">
                <button class="ui brown basic button  ">Submit

                </button>

            </div>

        </form>

    </div>
    </div>
    <% include ./partials/footer %>