<% include partials/header %>
    <div class="ui main text container">
        <div class="ui huge header">
            RESTful blog app</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog)
                    { %>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>"> </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id %>">
                                <h5>
                                    <%= blog.title %>
                                </h5>
                            </a>
                            <div class="meta">
                                <span>
                                    <%= blog.created %>
                                </span>
                            </div>
                            <div class="description">
                                <p>
                                    <%= blog.body %>
                                </p>
                            </div>
                            <div class="extra">
                                <a class="ui floated basic green button" href="/blogs/<%= blog._id %>">Read More</a>
                                <i class="right chevron icon "></i>
                            </div>
                        </div>


                    </div>
                    <% }) %>
            </div>
        </div>>
   </div>
    


    <% include partials/footer %>