<% include ./partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">New Blog </div>
        <form action="/blogs" method="post" class="ui form">

            <div classs="field">
                <label>Title</label>
                <input type="text" placeholder="name" name="blog[title]">
            </div>

            <div classs="field">
                <label>Image</label>
                <input type="text" placeholder="image" name="blog[image]">
            </div>

            <div classs="field">
                <label>BodyContent</label>
                <textarea placeholder="Blog post goes here" name="blog[body]"></textarea>
            </div>
            <!-- <div class="ui center aligned segment"> -->
            <div classs="field">
                <button class="ui brown basic button  ">Submit

                </button>

            </div>

        </form>

    </div>
    </div>
    <% include ./partials/footer %>