<% include ./partials/header %>
    <div class="ui main text container segment ">
        <div class="ui huge header ">
            <%= blog.title %>
        </div>
        <div class="ui top attached ">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>">
            </div>
            <div class="description">
                <%= blog.body %>
            </div>

            <a href="/blogs/<%= blog._id %>/edit" button class="ui blue basic button" >EDIT</a>

            <form action="/blogs/<%= blog._id %>?_method=delete" id="delete" method="post">
                <button class="ui red basic button ">DELETE
                </button>
            </form>
        </div>
    </div>
    </div>

    <% include ./partials/footer %>